// Header
header {
  margin: 0 0 44px 0;
  h1 { margin-bottom: 16px; }

  // Options bar
  .options-bar {
    display: flex;

    .option {
      margin-right: 16px;

      input {
        margin: 0 4px 0 0;

        &[type=number] {
          width: 40px;
        }
      }
    }
  }
}
