// ------------------
// S T I C K Y  N A V
// ------------------
#sticky-header-placeholder {
  height: 40px;
  width: 100%;
}

#sticky-header {
  margin: 0 0 16px 0;
  display: flex;

  &.fixed {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid gray;
    margin: 0;

    nav {
      margin: 6px 50px 6px 50px;
      line-height: initial;

      #top-link { padding: 0 8px 0 0; }

      a { padding: 0 4px; }
    }
  }

  nav {
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;

    div { min-width: fit-content; }

    a {
      color: black;
      text-decoration: none;

      &:hover { text-decoration: underline; }
      &.active {
        color: #fff;
        background: #000;
        border-radius: 2px;
        &:hover { text-decoration: none; }
      }
    }

    .arrow-right {
      padding: 0 8px;
    }
  }
}
